.logo-mark {
  color: var(--text-color);
}
.featureIcon{
  margin-top: 8px;
}
h1, h2, h3, h5 {
  color: var(--primary-color);
}
p {
  color: var(--text-color);
}

.carousel .carousel-item {
  height: 400px;
}

.carousel-item img {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 400px;
}