/* src/theme.css */
:root {
  --primary-color: #28A745;
  --secondary-color:grey;
  --background-color: #f5f5f5;
  --text-color: black;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.button {
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--secondary-color);
}

h3{
    color: #28A745;
    font-weight: bold;
    font-size:xx-large;
}
